- case params[:tip]
- when 'introduction'
  %h1 Mondo TFL Introduction
  %hr
  %p
    Hi! Thanks for beta testing my <strong>prototype</strong> Mondo Integration.
  %p
    Please know this is just a <strong>proof of concept</strong>.
  %p
    It runs on a <strong>free</strong> instance of the Heroku webservice. As a result, sometimes it's
    not always instant.
  %p
    As TFL's website information is not realtime, this integration updates your TFL transactions
    only once a day.
  %p
    If a TFL transaction doesn't have a journey breakdown attached to it, it most likely will appear at the next
    daily update (Usually 5am).

  %p
    If you have any questions/suggestions, I'm in the Mondo Developers slack group under @jameshill,
    or you can reach me at #{mail_to 'james.f.hill@gmail.com'}.
- when 'replacement-card'
  %h1 New or Replaced Mondo Card?
  %hr
  %p
    You're getting this message because it looks like you may have received
    a new or replacement card from Mondo.
  %p
    You have new <strong>Transport for London</strong> transactions on your Mondo account, but we can't seem to find
    matches on the TFL website with the card number ending with <strong>#{params[:current_card]}</strong>.
  %p
    If you're using a new card, all you need to do is first register it on <strong>#{link_to 'contactless.tfl.gov.uk', 'http://contactless.tfl.gov.uk'}</strong>
    and then select this card from the dropdown at <strong>#{link_to 'mondo-tfl.herokuapp.com', 'http://mondo-tfl.herokuapp.com'}</strong>.
  %p
    Let me know if this isn't the case! I'm in the Mondo Developers slack group under @jameshill,
    or you can reach me at #{mail_to 'james.f.hill@gmail.com'}.
- when 'peak'
  %h1 Peak Journey Fees
  %hr
  %p
    Did you know peak hour runs from 0630 till 0930 (Monday - Friday)?
  %hr
  .u-full-width
    %h4 Journey prices to/from Zone 1
    %table.u-full-width
      %tr
        %th
        %th.fare Single: off-peak
        %th.fare Single: peak

      %tr
        %th Zone 1
        %td.fare £2.40
        %td.peak.fare £2.40

      %tr
        %th Zone 1–2
        %td.fare £2.40
        %td.peak.fare £2.90

      %tr
        %th Zone 1–3
        %td.fare £2.80
        %td.peak.fare £3.30

      %tr
        %th Zone 1–4
        %td.fare £2.80
        %td.peak.fare £3.90

      %tr
        %th Zone 1–5
        %td.fare £3.10
        %td.peak.fare £4.70

      %tr
        %th Zone 1–6
        %td.fare £3.10
        %td.peak.fare £5.10
    %h4 Journey prices to/from Zone 2
    %table.u-full-width
      %tr
        %th
        %th.fare Single: off-peak
        %th.fare Single: peak

      %tr
        %th Zone 2
        %td.fare £1.50
        %td.peak.fare £1.70

      %tr
        %th Zone 2–3
        %td.fare £1.50
        %td.peak.fare £1.70

      %tr
        %th Zone 2–4
        %td.fare £1.50
        %td.peak.fare £2.40

      %tr
        %th Zone 2–5
        %td.fare £1.50
        %td.peak.fare £2.80

      %tr
        %th Zone 2–6
        %td.fare £1.50
        %td.peak.fare £2.80


